<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update time</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/times/{id}(id=${time.getId()})}" th:object="${time}">
    <label for="date">Enter new date </label>
    <input type="date" th:field="*{date}" id="date"/>
    <br/>
    <label for="timePeriod">Choose time period </label>
    <select th:field="*{timePeriodId}" id="timePeriod">
        <div th:each="item : ${timePeriods}">
            <option th:value="${item.getId()}" th:text="${#strings.substring(item.getStartHour().toString(), 11, 16)}+
            '-'+${#strings.substring(item.getEndHour().toString(), 11, 16)}"></option>
        </div>
    </select>
    <br>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>