<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New course</title>
</head>
<body>

<form th:method="POST" th:action="@{/courses}" th:object="${course}">
    <label for="name">Enter course name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="description">Enter course description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>